* {
  box-sizing: border-box;
}

.counter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  padding: 48px;
  margin: 100px auto;
  border-radius: 16px;
  box-shadow: 0px 9px 10px 9px rgba(0,0,0,0.18);
  overflow: hidden;
}

.counter::after {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('https://plus.unsplash.com/premium_photo-1667354154657-5adc088ed55a?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHVwJTIwZG93bnxlbnwwfHwwfHx8MA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.15;
  content: '';
}

.counter h1 {
  margin: 0;
  font-size: 48px;
}

.count {
  font-size: 36px;
  font-weight: 700;
  margin: 12px;
}

.btn-box {
  display: flex;
  column-gap: 16px;
}

.btn-count {
  display: block;
  width: 64px;
  height: 64px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  border-radius: 4px;
  background-color: #efefef;
  transition: background-color 150ms ease-in-out, transform 150ms ease-in-out;
}

.btn-count:hover {
  background-color: #ddd;
  transform: scale(1.1);
}